.root
{
	width: 100%;
	height: 100%;

    z-index: -1;
}

/* Everything to do with the gold bar animation */

.GoldBarBox
{
    margin-top: 5px;
    vertical-align: top;
    horizontal-align: right;
		
    opacity: 0.4;
    width: 200px;
    height: 50px;
    background-color: #000000;
}

.GoldBarBorder
{
    margin-top: 5px;
    vertical-align: top;
    horizontal-align: right;
    
   	box-shadow: #ffffff99 0px 0px 8px 0px;    
	border-style: solid;
    border-width: 2px;
    border-color: white;
        
    width: 200px;
    height: 50px;
}

#GoldBar
{
    width: 100%;
    height: 100%;
    background-color: gold;
    opacity: 1.0;
}

#GoldBarMargin
{
    margin-top: 12px;
    margin-left: 7px;
    height: 36px;
    width: 182px;
    
}

.GoldBarAnimation
{
    animation-timing-function: linear;
    animation-name: gold_bar;
    animation-duration: 10s;
    animation-iteration-count: infinite;  
}

@keyframes 'gold_bar'
{
    0%
    {
        transform: translateX( -182px ) translateY( 0px );
    }
    100%
    {
        transform: translateX( 0px ) translateY( 0px );

    }
}

/* Collapse button */

#CollapseButton
{
	color: white;
	vertical-align: center;
	horizontal-align: center;
}

.CollapseButtonBorder
{
    vertical-align: top;
	horizontal-align: right;
	margin-top: 2px;
    margin-right: 5px;
	
	box-shadow: #ffffff99 0px 0px 8px 0px;    
	border-style: solid;
    border-width: 2px;
    border-color: white;
        
    width: 200px;
    height: 40px;
}

.CollapseButtonContainer
{
    vertical-align: top;
	horizontal-align: right;
	margin-top: 2px;
    margin-right: 5px;
        
    opacity: 0.4;
    width: 200px;
    height: 40px;
    background-color: #000000;
}

#CollapseLabel
{
    vertical-align: top;
	horizontal-align: left;
	margin-top: 9px;
	margin-left: 64px;
}

.Collapse
{
    vertical-align: top;
	horizontal-align: right;
	margin-top: 0px;
    margin-right: 2px;
}

.CollapseButtonContainer:hover
{
	background-color: gray;
}

.TranslateUp
{
    animation-timing-function: linear;
    animation-name: translate_up;
    animation-duration: 0.1s;
    animation-iteration-count: 1;  
}

.TranslateDown
{
    animation-timing-function: linear;
    animation-name: translate_down;
    animation-duration: 0.1s;
    animation-iteration-count: 1;  
}

.TranslateUpPermenant
{
    transform: translateX( 0px ) translateY( -800px );
}

@keyframes 'translate_up'
{
    0%
    {
        transform: translateX( 0px ) translateY( 0px );
    }
    /* Leaving this at 99% makes a cool animation between 99% and 100% that makes the bar go back to the start*/
    100%
    {
        transform: translateX( 0px ) translateY( -800px );
    }
}

@keyframes 'translate_down'
{
    0%
    {
	    transform: translateX( 0px ) translateY( -800px );
    }
    /* Leaving this at 99% makes a cool animation between 99% and 100% that makes the bar go back to the start*/
    100%
    {
        transform: translateX( 0px ) translateY( 0px );
    }
}

/* The Income list */

.IncomeColumn
{
    flow-children: down;
    margin-right: 5px;
    margin-top: 50px;
    vertical-align: top;
    horizontal-align: right;
    
    opacity: 1;
}

.IncomeTeam
{
    margin-top: 5px;
    vertical-align: top;
    horizontal-align: right;
            
    opacity: 0.4;
    width: 200px;
    height: 150px;
    background-color: #000000;
}

.IncomeTeamBorder
{
    margin-top: 5px;
    vertical-align: top;
    horizontal-align: right;
    
	box-shadow: #ffffff99 0px 0px 8px 0px;    
	border-style: solid;
    border-width: 2px;
    border-color: white;
        
    opacity: 1;
    width: 200px;
    height: 150px;
}

.PlayerContainer
{
	flow-children: down;
	vertical-align: top;
	margin-top: 30px;
	width: 100%;
	height: 100%;
}

.IncomePlayer
{
    vertical-align: top;
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);   
}

.TitleLabel
{
	font-weight: bold;
	text-shadow: 1px 1px 1px 0 #DDDDDD;
	margin-top: 7px;
    margin-left: 7px;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
    font-size: 20.5;
    color: white;
}

.Player
{
	width: 100%;
	height: 20px;
}

.PlayerName
{
    margin-left: 6px;
    color: #eeeeee;
    font-size: 18;
}

.PlayerGold
{
    color: #eeeeee;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
    font-size: 14px;
    font-weight: bold;
	text-shadow: 0px 0px 6px 7 #ADA11D;
	opacity: 1;

	margin-right: 5px;
	horizontal-align: right;
}

